body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dark {
  background-color: #333;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #000;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #444;
  color: #fff;
}

header h1 {
  margin: 0;
}

.menu-hamburger {
  background: none;
  border: none;
  color: inherit;
  font-size: 1.5rem;
}

.menu {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  width: 100%;
  height: calc(100vh - 110px);
  background-color: #61598f;
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main {
  flex: 1;
  padding: 1rem;
}

.tiles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1.5rem;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tiles h2 {
  margin: 0;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.logistique-container, .tracabilite-container, .production-container, .mediation-container, .sav-container, .dons-container, .stocks-container, .bilans-container {
  padding: 1rem;
  border-radius: 8px;
}

.logistique-container {
  background-color: hsla(0, 0%, 27%, .2);
}

.tracabilite-container {
  background-color: hsla(0, 0%, 27%, .2);
}

.production-container {
  background-color: hsla(0, 0%, 27%, .2);
}

.mediation-container {
  background-color: hsla(0, 0%, 27%, .2);
}

.sav-container {
  background-color: hsla(0, 0%, 27%, .2);
}

.dons-container {
  background-color: hsla(0, 0%, 27%, .2);
}

.stocks-container {
  background-color: hsla(0, 0%, 27%, .2);
}

.bilans-container {
  background-color: hsla(0, 0%, 27%, .2);
}

.logistique, .tracabilite, .production, .mediation, .sav, .dons, .stocks, .bilans {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  min-width: 100px;
  min-height: 100px;
}

.tile:hover {
  filter: saturate(.9) brightness(1.2);
  transform: scale(1.01);
  transition: ease-in-out .2s;
  font-weight: bolder;
  font-size: 1.5em;
}

@media (min-width: 950px) {
  .tiles {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .logistique-container, .tracabilite-container, .production-container, .mediation-container, .sav-container, .dons-container, .bilans-container {
    width: calc(100vw / 9);
  }

  .logistique, .tracabilite, .production, .mediation, .sav, .dons, .bilans {
    flex-direction: column;
  }
  .stocks {
    flex-direction: row;
    justify-content: space-around;
    width: 96.5vw;
  }

  .stocks .tile6,
  .stocks .tile7,
  .stocks .tile8,
  .stocks .tile9, 
  .stocks .tile10,
  .stocks .tile11,
  .stocks .tile12,
  .stocks .tile13,
  .stocks .tile14 {
    width: calc(100% /12);
    height: 80px;
  }

}

.logistique .tile1, .tracabilite .tile1, .production .tile1, .mediation .tile1, .sav .tile1, .dons .tile1, .bilans .tile1 {
  background-color: #e57373;
  color: var(--foreground);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0; /* Ensure no margin around tiles */
  aspect-ratio: 1 / 1; /* Ensure tiles are square */
}

.logistique .tile2, .tracabilite .tile2, .mediation .tile2, .sav .tile2, .dons .tile2, .bilans .tile2 {
  background-color: #f06292;
  color: var(--foreground);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0; /* Ensure no margin around tiles */
  aspect-ratio: 1 / 1; /* Ensure tiles are square */
}

.logistique .tile3, .tracabilite .tile3, .mediation .tile3, .sav .tile3, .dons .tile3, .bilans .tile3 {
  background-color: #ba68c8;
  color: var(--foreground);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0; /* Ensure no margin around tiles */
  aspect-ratio: 1 / 1; /* Ensure tiles are square */
}
.production .tile4, 
.production .tile5, 
.stocks .tile6,
.stocks .tile7,
.stocks .tile8,
.stocks .tile9, 
.stocks .tile10,
.stocks .tile11,
.stocks .tile12,
.stocks .tile13,
.stocks .tile14,
.tile15,
.tile16,
.tile17,
.tile18,
.tile19,
.tile20,
.tile21,
.tile22,
.tile23,
.tile24,
.tile25,
.tile26,
.tile27,
.tile28
{
  color: var(--foreground);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0; /* Ensure no margin around tiles */
  aspect-ratio: 1 / 1; /* Ensure tiles are square */
}  
.production .tile4 {
  background-color: #9575cd;
}

.production .tile5 {
  background-color: #7986cb;
}

.stocks .tile6 {
  background-color: #64b5f6;
}

.stocks .tile7 {
  background-color: #4fc3f7;
}

.stocks .tile8 {
  background-color: #4dd0e1;
}

.stocks .tile9 {
  background-color: #4db6ac;
}

.stocks .tile10 {
  background-color: #81c784;
}

.stocks .tile11 {
  background-color: #aed581;
}

.stocks .tile12 {
  background-color: #dce775;
}

.stocks .tile13 {
  background-color: #fff176;
}

.stocks .tile14 {
  background-color: #ffd54f;
}

.tile15 { background-color: #ffb74d; }
.tile16 { background-color: #ff8a65; }
.tile17 { background-color: #a1887f; }
.tile18 { background-color: #90a4ae; }
.tile19 { background-color: #f44336; }
.tile20 { background-color: #e91e63; }
.tile21 { background-color: #9c27b0; }
.tile22 { background-color: #673ab7; }
.tile23 { background-color: #3f51b5; }
.tile24 { background-color: #2196f3; }
.tile25 { background-color: #03a9f4; }
.tile26 { background-color: #00bcd4; }
.tile27 { background-color: #009688; }
.tile28 { background-color: #4caf50; }

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #444;
  color: #fff;
  position: sticky;
  bottom: 0;
}

.toggle-dark-mode {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

.dark header, .dark footer {
  background-color: #333;
}

.light header, .light footer {
  background-color: #eee;
  color: #333;
}

.dark .tile {
  color: #eee;
}

.light .tile {
  color: #333;
}

.tile-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Ensure tiles are square and fill available space */
  gap: 0; /* Remove margin between tiles */
  width: 100%;
  height: 100%;
}

.tile-list>.tile {
  width: inherit;
  height: inherit;
  color: var(--foreground);
  margin: 0; /* Ensure no margin around tiles */
  aspect-ratio: 1 / 1; /* Ensure tiles are square */
  z-index: 1;
}

.tile-list>.tile:hover {
  filter: saturate(.95) brightness(1.1);
  transform: scale(1.01);
  color: #333;
  transition: ease-in-out .2s;
  font-weight: bolder;
  font-size: 1.5em;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1),
  -4px -4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.tile1 { background-color: #e57373; grid-column: span 2; grid-row: span 2; }
.tile2 { background-color: #f06292; grid-column: span 1; grid-row: span 1; }
.tile3 { background-color: #ba68c8; grid-column: span 1; grid-row: span 1; }
.tile4 { background-color: #9575cd; grid-column: span 2; grid-row: span 1; }
.tile5 { background-color: #7986cb; grid-column: span 1; grid-row: span 2; }
.tile6 { background-color: #64b5f6; grid-column: span 1; grid-row: span 1; }
.tile7 { background-color: #4fc3f7; grid-column: span 1; grid-row: span 1; }
.tile8 { background-color: #4dd0e1; grid-column: span 2; grid-row: span 1; }
.tile9 { background-color: #4db6ac; grid-column: span 1; grid-row: span 1; }
.tile10 { background-color: #81c784; grid-column: span 1; grid-row: span 2; }
.tile11 { background-color: #ffb74d; } /* Add style for Accueil tile */
